/* See docs/css-style-guide.md */
.github-login {
  align-self: flex-start;
  margin-right: 3rem;
}

/* ---------- OAuth Component ---------- */
#icon-github {
  padding-right: 0.5rem;
}

/* ---------- Menu Components ---------- */
/* AccountMenu, ProjectForm, PageForm */
#avatar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  object-fit: cover; /* Fit image without distortion */
  vertical-align: middle;
  margin-left: 0.5rem;
}

#menu-account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  width: 16.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px #0000001a;
  overflow: hidden;
}

#menu-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px #0000001a;
}
#menu-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px #0000001a;
}

#menu-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px #0000001a;
}

/* Menu Items */
.menu-item {
  font-size: 1.5rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

#menu-item:hover {
  background-color: #83e09e;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-item:focus {
  background-color: #83e09e;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

/* ---------- Buttons ---------- */
#delete-user-button {
  background-color: rgb(254, 0, 0);
}

#delete-project-button {
  background-color: rgb(254, 0, 0);
}
