.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: fit-content;
  padding: 1rem 0 3rem 0;
  background-color: #333333;
}

.app header h1 {
  background-color: #f4f6fc;
  border-radius: 1rem;
  min-width: fit-content;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 2.5rem;
  align-self: center;
  text-align: center;
}

.app header button {
  align-self: flex-end;
  background-color: #83e09e;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.github-login {
	display: flex;
	align-self: flex-end;
}

.oauth-icons{
	margin: 20px 0;
	display: flex;
	justify-content: flex-start;
}

.oauth-icons a {
	font-family: Oswald-Regular;
	font-size: 16px;
	
  background-color: #fff;
  border: none;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 15px 12px;
  width: 200px;
  height: 40px;
	transition: all 0.4s;
}

button {
	background-color: #f4f6fc;
  border-radius: 1rem;
  width: 15rem;
  padding: 1rem;
}
button:hover {
	background-color: #e2e7f5;
}