/* See docs/css-style-guide.md */

.app {
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: auto;
  padding: 1rem 0 2rem 0;
  background-color: #333333;
  position: relative;
}

/* A11y Root Title Style --> To be replaced with logo svg */
header h1 {
  background-color: #f4f6fc;
  border-radius: 5rem;
  border-width: fit-content;
  padding: 1rem 2rem;
  margin-bottom: 7rem;
}

.img-tree {
  position: absolute;
  top: 2%;
  left: 0;
  /* height: 100%; */
  /* aspect-ratio: 3/8; */
  /* border: 2px solid red; */
  width: 20%;
}
