.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: fit-content;
  padding: 1rem 0 3rem 0;
  background-color: #333333;
}

header h1 {
  background-color: #f4f6fc;
  border-radius: 1rem;
  border-width: fit-content;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 2.5rem;
}

header button {
  align-self: flex-end;
  background-color: #83e09e;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

button {
  background-color: #83e09e;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
}

button:hover {
  background-color: #e2e7f5;
  cursor: pointer;
}
