/* See docs/css-style-guide.md */
.enterUrl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  font-family: Hubot;
  margin-right: 2rem;
}

/* ---------- Main Dashboard ---------- */
/* .app {
  display: grid;
} */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  max-width: 100%;
}

.dashboard h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

/* ---------- Dashboard Tabs & Results Display ---------- */
.tabs-and-display-container {
  display: grid;
  max-width: 100%;
  align-items: center;
  width: 100%;
  padding: 5rem 2rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Force items to stay on one line (no wrap) */
  white-space: nowrap;
  overflow-x: hidden; /* or scroll, if you prefer a scrollbar on overflow */
  width: 100%; /* let the container fit its parent */
  max-width: 100%;
}

.tabs button {
  border-radius: 2rem 2rem 0 0;
  margin: 0 0.1rem;
  padding: 0 2rem;
  width: 100%;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  flex-shrink: 1;
  white-space: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-results {
  width: 100%;
}

.tree-results h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.dashboard-display {
  background-color: #f2fcf4;
  width: 100%;
  padding: 1.5rem 5rem;
  border: 3px solid black;
  /* overflow-y: scroll; */
}

.dashboard-display ul {
  width: 100%;
  max-height: clamp(30rem, 10vh, 30rem);
  overflow-y: scroll;
}

.aside {
  background-color: #3a3b3e;
  color: white;
  padding: 3rem;
  width: 100%;
}

.aside a {
  color: #83e09e;
}

.dashboard-header {
  padding-bottom: 2rem;
}

.compliance-issue {
  color: red;
  font-weight: bold;
}
