/* See docs/css-style-guide.md */

/* ---------- Shared (Clipboard Copy) Dashboard ---------- */
.directLinkTree {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.directLinkTree h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}
