.home {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.border-mint {
  background-color: #83e09e;
  border-radius: 1rem;
  width: fit-content;
  align-self: center;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.a11y-details {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.a11y-details div {
  width: 30rem;
  padding: 4rem 0 4rem 0;
  margin: 3rem 6rem 3rem 6rem;
}

.quote-rooted {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  padding: 4rem;
  background-color: #83e09e;
}

#dom-a11y-trees {
  width: fit-content;
  text-align: center;
  /* align-self: center; */
}

#img-a11y-tree {
  height: 90%;
}

.demo {
  width: 100%;
  padding: 4rem 0 4rem 0;
}

footer {
  width: 100%;
  height: fit-content;
  padding: 6rem;
  background-color: #3a3b3e;
  color: white;
  text-align: center;
}
