/* See docs/css-style-guide.md */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home section {
  margin: 3rem 0;
}

.a11y-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
  z-index: 50;
}

.a11y-details div {
  flex: 1;
  background-color: #ffffffd0;
  border-top-left-radius: 5rem;
  align-self: flex-start;
  max-width: 40%;
  text-align: center;
}

.home h2 {
  align-self: center;
  background-color: #bbbbbb;
  border-radius: 6rem 0 6rem 0;
  min-width: fit-content;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 3.5rem;
}

.quote-rooted {
  background-color: #83e09e;
  min-width: 100%;
  min-height: fit-content;
  padding: 4rem;
}

/* #img-a11y-tree {
  adjust size of comparison image; make it bigger by turning it into a popup, or adding a zoom/magnifying glass feature.
} */

.demo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

footer {
  background-color: #3a3b3e;
  max-width: 100%;
  min-height: fit-content;
  padding: 4rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
}
