/* See docs/css-style-guide.md */

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-size: clamp(1.6rem, calc(1.6rem), calc(1rem + 1vw));
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 100%;
  background-color: #ffffff;
  font-size: clamp(1.3rem, calc(1.3rem + 1vw), 1.3rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  min-width: fit-content;
  font-size: clamp(5rem, calc(5rem + 1vw), 8rem);
  margin-bottom: 50px;
}

h1:hover {
  cursor: pointer;
}

/* link button */

.btn-download a {
  text-decoration: none;
  font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.5rem);
  font-weight: 600;
  color: #333333;
  background-color: #83e09e;
  border-radius: 5rem;
  min-width: 44px;
  min-height: 44px;
  padding: 2rem;
  margin-left: 3rem;
  margin-bottom: 5rem;
}

.btn-download a:hover {
  background-color: #bef3d6;
  cursor: pointer;
}

button {
  background-color: #83e09e;
  border-radius: 5rem;
  min-width: 44px;
  width: fit-content;
  min-height: 44px;
  padding: 0 1rem;
  margin: 1rem;
  font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.5rem);
  font-weight: 600;
}

button:hover {
  background-color: #bef3d6;
  cursor: pointer;
}

img {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  /* Mobile */
  html {
    font-size: 8px;
  }

  h1 {
    font-size: clamp(3rem, calc(3rem + 1vw), 6rem);
    margin-bottom: 30px;
  }

  .btn-download a {
    padding: 2rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
  }

  button {
    border-radius: 1.5rem;
    padding: 0 0.7rem;
    margin: 0.5rem;
    font-size: clamp(1.3rem, calc(1.3rem + 0.5vw), 1.3rem);
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
  html {
    font-size: 9px;
  }

  h1 {
    font-size: clamp(4rem, calc(4rem + 1vw), 7rem);
    margin-bottom: 40px;
  }

  .btn-download a {
    padding: 1.75rem;
    margin-left: 4rem;
    margin-bottom: 4.5rem;
  }

  button {
    border-radius: 1.5rem;
    padding: 0 0.75rem;
    margin: 0.75rem;
    font-size: clamp(1.4rem, calc(1.4rem + 0.75vw), 1.4rem);
  }
}
